.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: $font-weight-medium;
}

.nav-active{
  color: $branding-color;
  border-top: 5px solid $branding-color;
}

.modal-off{
  display: none;
}

.modalon{
  display: block;
}
