$main-typography:  'Montserrat', sans-serif;
$text-typography: 'Open Sans', sans-serif;

$branding-color: #30d9c4;
$light-background: #f4f4f4;
$dark-background: #000;
$dark-color-typography: #555;
$light-color-typography: #fff;

$font-weight-medium: 500;
