* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.bold-text {
  font-weight: 700; }

.btn {
  border: none;
  padding: 0;
  background-color: #30d9c4;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 280px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 15px;
  cursor: pointer; }

.gradient-btn-start {
  height: 40px;
  width: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30d9c4), to(#2aa393));
  background-image: linear-gradient(to bottom, #30d9c4, #2aa393);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-text {
  margin: 0;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 18px; }

.icon-btn {
  width: 32px; }

@media (min-width: 800px) {
  .btn {
    width: 400px;
    max-width: 400px;
    height: 64px;
    margin: 0; }

  .gradient-btn-start {
    width: 16%;
    height: 64px; } }
.text-block {
  padding: 20px; }

.title-block {
  font-size: 1.5em;
  text-align: center; }

.link-wiki {
  font-weight: 400;
  color: #30d9c4;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.link-wiki:hover {
  color: #fff; }

.section-dark {
  color: #fff;
  background-color: #000; }

.section-light {
  color: #555;
  background-color: #f4f4f4; }

.section-reverse {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

@media (min-width: 800px) {
  .text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 76px; }

  .photo-hero {
    position: relative; }

  .title-block {
    width: 35%;
    font-size: 4em;
    font-weight: 400;
    text-align: left; }

  .text-and-link {
    width: 45%; }

  .transparent-block {
    position: absolute;
    bottom: 0;
    background-color: transparent; } }
.photo-hero {
  width: 100%;
  height: 180px;
  background-image: url("../images/borg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media (min-width: 800px) {
  .photo-hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/borg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; } }
.main-learn {
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.title-block-learn {
  text-align: center; }

#grid-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 20px; }

.random-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 100%;
  margin-bottom: 20px; }

.cover-photo-book {
  width: 45%; }

.img-cover-book {
  width: 100%; }

.info-book {
  color: white;
  width: 45%; }

.random-book p {
  margin: 2px 0; }

@media (min-width: 800px) {
  .title-block-learn {
    max-width: 568px;
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
    text-align: left; }

  .main-learn {
    padding: 100px 76px; }

  .random-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    width: 28%; } }
.main-quiz {
  background-color: black;
  padding-top: 44px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.img-einstein {
  width: 100%; }

.img-einstein img {
  width: 100%; }

.transparent-block-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px 30px;
  color: white; }

.title-block-quiz {
  text-align: center; }

.quiz-modal {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: none; }

.info-quiz {
  width: 80%;
  max-width: 900px;
  margin: 20px auto 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.btn-close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px; }

.question-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px 50px; }

.number-question {
  font-size: 24px;
  margin: 0; }

.question-text {
  font-size: 18px; }

.option-quiz {
  margin: 10px 0;
  cursor: pointer; }

.radio-format {
  cursor: pointer;
  background-color: transparent;
  border: black; }

@media (min-width: 800px) {
  .transparent-block-page {
    width: 45%;
    padding: 0; }

  .title-block-quiz {
    max-width: 350px;
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
    text-align: left; }

  .main-quiz {
    background-image: url("../images/einstein.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 40%;
    background-attachment: scroll;
    padding: 100px 76px; }

  .img-einstein {
    display: none; }

  .img-einstein img {
    width: 100%; }

  .text-block-colum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .number-question {
    font-size: 64px; }

  .question-text {
    font-size: 30px; } }
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 99;
  background: #f4f4f4;
  width: 100%; }

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 20px; }

.link-item {
  color: #555;
  padding-top: 10px;
  -webkit-transition: color 0.5s, border 0.5s;
  transition: color 0.5s, border 0.5s;
  font-weight: 500; }

.space-link {
  margin: 0 20px; }

.link-item:hover {
  color: #30d9c4; }

.logo-adalab {
  width: 100px; }

.img-logo {
  width: 100%; }

@media (min-width: 800px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px; }

  .header-hero {
    position: absolute; }

  .space-link {
    margin: 0 30px; } }
.footer {
  color: #555;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5em;
  background-color: #f4f4f4;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 500; }

.nav-active {
  color: #30d9c4;
  border-top: 5px solid #30d9c4; }

.modal-on {
  display: block; }
/*# sourceMappingURL=index.css.map */