.footer{
  color: $dark-color-typography;
  font-family: $main-typography;
  font-weight: $font-weight-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  background-color: $light-background;
  width:100%;
}
